.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: #F4F8FA;
}

.logo {
  max-width: 104px;
  max-height: 36px;
}

.menu {
  display: flex;
  gap: 56px;
}

.menu__item {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #61636D;
  cursor: pointer;
}

.menu__item:hover {
  color: #262931;
}

.authorization {
  color: #262931;
  display: flex;
  align-items: center;
  gap: 10px;
}

.authorization:hover {
  color: #000000;
}

.authorization:active {
  color: #000000;
}

.authorization svg:hover path {
  fill: #000000;
}

.authorization svg:active path {
  fill: #000000;
}

.burger__menu {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
  background: none;
}

.burger__menu > span {
  width: 100%;
  display: block;
  height: 3px;
  background: black;
  color: #000000;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transition: all 0.3s linear;
}

.burger__menu::after,
.burger__menu::before {
  position: absolute;
  content: "";
  display: block;
  width: 32px;
  height: 3px;
  background: black;
  transition: all 0.3s linear;
}

.burger__menu::after {
  left: 0;
  bottom: 0;
}

.burger__menu::before {
  right: 0;
  top: 0;
}

.burger {
  display: none;
}

.burger-active span {
  opacity: 0;
}

.burger-active::after {
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
  transition: all 0.3s linear;
}

.burger-active::before {
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(-45deg);
  transition: all 0.3s linear;
}

.autorization-active {
  display: none;
  border: 1px solid #0176FF;
  background-color: #0176FF;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  padding: 12px 40px;
  margin-bottom: 40px;
  border-radius: 72px;
  max-width: 272px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  align-self: center;
  width: 100%;
}

.header-contacts {
  display: none;
}

@media (max-width: 1100px) {
  .container {
    max-width: 1100px;
  }
  .authorization {
    display: none;
  }
  .burger {
    display: block;
  }
  .autorization-active {
    display: block;
  }
  .menu-active {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  .logo {
    z-index: 2;
  }
  .burger__menu {
    z-index: 2;
  }
  .header__nav {
    position: fixed;
    top: 0;
    left: -300%;
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    transition: all 0.3s linear;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 86px 24px 0;
  }
  .header__nav-active {
    left: 0;
  }
  .header-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .header-contacts a {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #61636D;
  }
}
.register {
  background-color: #F4F8FA;
}

.register__wrapper {
  padding-top: 115px;
  padding-bottom: 144px;
}

.register {
  background-image: url("../image/fone.svg");
  background-repeat: no-repeat;
  background-size: 1191px 1017px;
  background-position: 70% 0;
}

.register__partner {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

.register__description {
  display: flex;
  flex-direction: column;
  flex: 0 1 576px;
}

.register__title {
  font-family: RF Dewi Extended;
  font-size: 56px;
  font-weight: 800;
  line-height: 67.2px;
  color: #262931;
  margin-bottom: 56px;
  display: block;
  max-width: 576px;
  word-break: break-all;
}

.register__noreg {
  text-align: center;
}

.register__title:not(span) {
  text-wrap: nowrap;
}

.register__title span {
  color: #0176FF;
}

.register__subtitle {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: #61636D;
  margin-bottom: 56px;
}

.register__subtitle span {
  font-weight: 600;
}

.register__button {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  padding: 16px 32px;
  background: #0176FF;
  border-radius: 72px;
  max-width: 202px;
  cursor: pointer;
}

.register__button:hover {
  background-color: #1471DE;
  box-shadow: 0px 4px 20px 0px rgba(16, 109, 217, 0.5019607843);
}

.register__button:active {
  box-shadow: 0px 0px 10px 0px #1B5396 inset;
}

.register__info {
  background: #ffffff;
  box-shadow: 0px 12px 32px 0px rgba(50, 73, 85, 0.1019607843);
  padding: 40px 48px;
  border-radius: 30px;
}

.register__info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 0 1 485px;
}

.register__field-h3 {
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 800;
  line-height: 21.6px;
  color: #262931;
  text-align: center;
}

#login {
  border-radius: 30px;
  border: 1px solid #C4C7CF;
  padding: 16px 8px;
  width: 100%;
  margin-bottom: 24px;
  cursor: pointer;
}

#login:hover {
  border: 1px solid #61636D;
}

#login:focus {
  border: 1px solid #006DCA;
  box-shadow: 0px 0px 0px 3px rgba(0, 143, 248, 0.2);
}

#login:invalid {
  border: 1px solid #EE5656;
  box-shadow: 0px 0px 0px 3px rgba(255, 125, 137, 0.2);
}

#password {
  border-radius: 30px;
  border: 1px solid #C4C7CF;
  padding: 16px 8px;
  width: 100%;
  margin-bottom: 8px;
  cursor: pointer;
}

#password:hover {
  border: 1px solid #61636D;
}

#password:focus {
  border: 1px solid #006DCA;
  box-shadow: 0px 0px 0px 3px rgba(0, 143, 248, 0.2);
}

#password:invalid {
  border: 1px solid #EE5656;
  box-shadow: 0px 0px 0px 3px rgba(255, 125, 137, 0.2);
}

::-moz-placeholder {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #A9ABB6;
}

::placeholder {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #A9ABB6;
}

.airs {
  position: absolute;
  top: 17px;
  right: 20px;
}

.register__password {
  display: block;
  width: 100%;
  position: relative;
}

.register__recovery {
  color: #9FA1AD;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  display: inline-block;
  cursor: pointer;
}

.register__recovery:active {
  color: #262931;
}

.register__recovery:hover {
  color: #262931;
}

.register__enter {
  display: block;
  margin: 0 auto;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #262931;
  padding: 16px 40px;
  border-radius: 72px;
  border: 1px solid #0176FF;
  background: none;
  margin-bottom: 16px;
}

.register__enter:hover {
  background-color: #0176FF;
  color: #ffffff;
}

.register__enter:active {
  background-color: #1471DE;
  box-shadow: 0px 0px 10px 0px #1B5396 inset;
}

.register__enter > span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #9FA1AD;
}

.register__link {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #0176FF;
  cursor: pointer;
}

.register__link:hover {
  color: #175297;
}

.register__link:active {
  color: #175297;
}

.test {
  padding: 0 0;
  margin: 15px 15px;
}

@media (max-width: 1100px) {
  .container {
    max-width: 1100px;
  }
  .register__partner {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 100%;
  }
  .register__description {
    flex: 0 1 400px;
    align-items: center;
  }
  .register__info {
    width: 70%;
  }
  .register__subtitle {
    max-width: 80%;
    text-align: center;
  }
  .register__button {
    max-width: 50%;
  }
}
.about-project {
  background-image: url("../image/fonelinet.svg");
  background-repeat: repeat-x;
  background-position: bottom;
}

.about-project__wrapper {
  padding: 80px 0 167px 0;
  display: flex;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
}

.about-project__wrapper > img {
  max-width: 405px;
  max-height: 382px;
}

.about-project__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 0 1 487px;
}

.about-project__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #262931;
}

.about-project__subtitle {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: #61636D;
}

.about-project__subtitle span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 25.6px;
  color: #262931;
}

@media (max-width: 1100px) {
  .container {
    max-width: 1100px;
  }
  .about-project__wrapper {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 40px 0 64px 0;
  }
  .about-project__info {
    align-items: center;
  }
}
.about-work {
  background-color: #F4F8FA;
}

.about-work__wrapper {
  padding: 144px 0 144px 0;
}

.about-work__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #262931;
  margin-bottom: 64px;
}

.about-work__title span {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #0176FF;
}

.scheme {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 45px;
  justify-content: flex-end;
  max-height: 576px;
  padding: 40px 0 60px 0;
  margin-bottom: 92px;
}

.scheme__title {
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 800;
  line-height: 21.6px;
  color: #262931;
  margin-bottom: 12px;
}

.scheme__subtitle {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #61636D;
}

.scheme__stage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 130px;
}

.scheme__stage img {
  max-width: 260px;
}

.stage-one {
  max-width: 257px;
}

.stage-three {
  max-width: 205px;
}

.stage-last {
  max-width: 211px;
}

.step-one {
  position: relative;
}

.step-one::after {
  content: url("../image/Vector1.png");
  position: absolute;
  top: 53%;
  left: 88%;
  max-width: 95px;
}

.step-two {
  position: relative;
}

.step-two::after {
  content: url("../image/strela.png");
  position: absolute;
  max-width: 175px;
  max-height: 110px;
  top: 54%;
  left: 84%;
}

.step-three {
  position: relative;
}

.step-three::after {
  content: url("../image/last line.svg");
  position: absolute;
  max-width: 151px;
  max-height: 87px;
  top: 58%;
  left: 78%;
}

.about-work__button {
  border-radius: 72px;
  background-color: #0176FF;
  color: #ffffff;
  padding: 16px 32px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.about-work__button:hover {
  background-color: #1471DE;
  box-shadow: 0px 4px 20px 0px rgba(16, 109, 217, 0.5019607843);
}

.about-work__button:active {
  box-shadow: 0px 0px 10px 0px #1B5396 inset;
}

@media (max-width: 1100px) {
  .container {
    max-width: 1100px;
  }
  .scheme {
    flex-direction: column;
    gap: 40px;
  }
  .scheme__stage {
    flex-direction: row;
    gap: 40px;
  }
  .step-one::after,
  .step-two::after,
  .step-three::after {
    content: none;
  }
}
.about-cripta {
  background-color: #F4F8FA;
}

.about-cripta__wrapper {
  padding: 0 0 144px 0;
}

.about-cripta__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #0176FF;
  margin-bottom: 40px;
  text-align: center;
}

.about-cripta__title span {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #262931;
}

.about-cripta__subtitle {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #61636D;
  display: block;
  text-align: center;
  max-width: 671px;
  margin: 0 auto;
  padding: 0 0 56px 0;
}

.about-cripta__subtitle span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #262931;
}

.about-cripta__video {
  display: block;
  margin: 0 auto;
}

.start-earn {
  background-color: #0176FF;
  background-image: url("../image/line fone blue.svg");
  background-repeat: no-repeat;
  background-size: 877px 748px;
  background-position: 1530px -142px;
}

.start-earn__wrapper {
  padding: 48px 0 48px 0;
}

.start-earn__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 800;
  line-height: 52px;
  color: #ffffff;
  margin-bottom: 40px;
  text-wrap: balance;
}

.start-earn__title span {
  color: #FBDC7C;
}

.start-earn__subtitle {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: #ffffff;
  text-wrap: balance;
  margin-bottom: 40px;
}

.start-earn__subtitle span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 25.6px;
}

.start-earn__button {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #262931;
  padding: 16px 32px;
  border-radius: 72px;
  margin-right: 24px;
  cursor: pointer;
}

.start-earn__button:hover {
  box-shadow: 0px 8px 16px 0px rgba(50, 73, 85, 0.3019607843);
}

.start-earn__button:active {
  box-shadow: 0px 0px 10px 0px rgba(27, 83, 150, 0.6) inset;
}

.start-earn__wrapper a {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
}

.start-earn__wrapper a:hover {
  color: #dce2e9;
}

.support {
  background-color: #F4F8FA;
  background-image: url("../image/dropped.png");
  background-repeat: no-repeat;
  background-size: 725px 717px;
  background-position: 50% 70%;
}

.support__wrapper {
  padding: 166px 21px;
}

.edge__list {
  display: flex;
  gap: 64px;
}

.support__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #000000;
  text-align: center;
  margin-bottom: 56px;
}

.support__title span {
  color: #0176FF;
}

.support__advantages {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-around;
  align-items: flex-end;
}

.support__benefit {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #61636D;
  text-align: right;
}

.support__benefit span {
  font-weight: 600;
  color: #262931;
}

.privilege-item {
  text-align: left;
  text-wrap: pretty;
}

.item__four {
  text-wrap: balance;
}

.item__five {
  text-wrap: balance;
  position: relative;
  left: 25px;
  width: 296px;
}

.benefit-second {
  position: relative;
  right: 25px;
  text-wrap: pretty;
  max-width: 237px;
}

.study {
  background-color: #F4F8FA;
}

.study__wrapper {
  padding: 21px 0 124px 0;
}

.study__wrapper video {
  display: block;
  margin: 0 auto;
}

.study__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #262931;
  text-align: center;
  margin-bottom: 48px;
}

.study__title span {
  color: #0176FF;
}

.study__video {
  margin: 0 auto;
  display: block;
}

.quastion {
  background-color: #F4F8FA;
}

.quastion__wrapper {
  padding: 20px 0 120px 0;
}

.quastion__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #262931;
  margin-bottom: 48px;
}

.quastion__title span {
  color: #0176FF;
}

.quastion__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 682px;
}

.quastion__describe {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #262931;
}

.quastion__item {
  padding: 24px;
  background-color: #ffffff;
  border-radius: 16px;
}

.quastion__line {
  border: solid 1px #DCDDE5;
  margin-bottom: 16px;
}

.quastion__subtitle {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: #262931;
}

.answer-list {
  padding-left: 24px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: #262931;
}

details > summary {
  list-style: none;
  position: relative;
}

summary:before {
  content: url("../image/icon_close.svg");
  margin-right: 24px;
}

details[open] summary:before {
  content: url("../image/detail_open.svg");
}

details[open] .quastion__describe {
  margin-bottom: 16px;
}

summary:before,
details[open] summary:before {
  position: absolute;
  left: 624px;
}

.quastion__info {
  padding: 40px 48px 40px 48px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 12px 32px 0px rgba(50, 73, 85, 0.1019607843);
  max-height: 494px;
  margin-top: 35px;
}

.quastion__form {
  display: flex;
  gap: 32px;
}

.quastion__form-title {
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 800;
  line-height: 21.6px;
  color: #262931;
  margin-bottom: 16px;
  text-align: center;
}

.quastion__form-subtitle {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #61636D;
  margin-bottom: 32px;
  text-align: center;
  text-wrap: pretty;
}

.quastion__record {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.quastion__record .name {
  display: block;
  border: 1px solid #C4C7CF;
  padding: 16px 20px;
  border-radius: 30px;
  cursor: pointer;
}
.quastion__record .name::-moz-placeholder {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #A9ABB6;
}
.quastion__record .name::placeholder {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #A9ABB6;
}

.quastion__record .name:hover {
  border: 1px solid #61636D;
}

.quastion__record .name:focus {
  border: 1px solid #006DCA;
  box-shadow: 0px 0px 0px 3px rgba(0, 143, 248, 0.2);
}

.quastion__record .name:invalid {
  border: 1px solid #EE5656;
  box-shadow: 0px 0px 0px 3px rgba(255, 125, 137, 0.2);
}

.tel {
  display: block;
  border: 1px solid #C4C7CF;
  padding: 16px 20px;
  border-radius: 30px;
  cursor: pointer;
}

.tel:hover {
  border: 1px solid #61636D;
}

.tel:focus {
  border: 1px solid #006DCA;
  box-shadow: 0px 0px 0px 3px rgba(0, 143, 248, 0.2);
}

.tel:invalid {
  border: 1px solid #EE5656;
  box-shadow: 0px 0px 0px 3px rgba(255, 125, 137, 0.2);
}

.message-text {
  display: block;
  border: 1px solid #C4C7CF;
  border-radius: 30px;
  padding: 16px 8px 8px 20px;
  resize: none;
}

.message-text:hover {
  border: 1px solid #61636D;
}

.message-text:focus {
  border: 1px solid #006DCA;
  box-shadow: 0px 0px 0px 3px rgba(0, 143, 248, 0.2);
}

.message-text:invalid {
  border: 1px solid #EE5656;
  box-shadow: 0px 0px 0px 3px rgba(255, 125, 137, 0.2);
}

.quastion__button {
  display: block;
  margin: 0 auto;
  border: 1px solid #0176FF;
  border-radius: 72px;
  color: #262931;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background: #ffffff;
  padding: 16px 40px;
  cursor: pointer;
}

.quastion__button:hover {
  background: #0176FF;
  color: #ffffff;
  border: 1px solid #0176FF;
}

.quastion__button:active {
  background: #1471DE;
  box-shadow: 0px 0px 10px 0px #1B5396 inset;
}

.footer {
  background-color: #ffffff;
}

.footer__wrapper {
  padding: 56px 0 56px 0;
}

.footer__menu {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.logo__info {
  display: block;
}

.logo__footer {
  display: block;
  margin-bottom: 24px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  color: #9FA1AD;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 59px;
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__navigation > li {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #61636D;
  cursor: pointer;
}

.footer__menu-item:hover {
  color: #262931;
}

.footer__menu-item:active {
  color: #262931;
}

.footer__info > a:not(.authorization) {
  display: block;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #262931;
  display: flex;
  gap: 10px;
}

.footer__info > a:hover {
  color: #000000;
}

.footer__info > a:active {
  color: #000000;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.footer__document a {
  display: block;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  color: #9FA1AD;
}

.footer__document a:hover {
  color: #262931;
}

.footer__document {
  display: flex;
  gap: 48px;
  justify-content: center;
}

body {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  color: #61636D;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 10px;
}/*# sourceMappingURL=style.css.map */