.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: #F4F8FA;
}

.logo {
  max-width: 104px;
  max-height: 36px;
}

.menu {
  display: flex;
  gap: 56px;
}

.menu__item {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
}

.authorization {
  color: #262931;
}

.register {
  background-color: #F4F8FA;
}

.register__wrapper {
  padding-top: 115px;
  padding-bottom: 144px;
}

.register {
  background-image: url("../image/fone.svg");
  background-repeat: no-repeat;
  background-size: 1191px 1017px;
  background-position: 70% 0;
}

.register__partner {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

.register__description {
  display: flex;
  flex-direction: column;
  flex: 0 1 576px;
  max-width: 576px;
}

.register__title {
  font-family: RF Dewi Extended;
  font-size: 47px;
  font-weight: 800;
  line-height: 67.2px;
  color: #262931;
  margin-bottom: 56px;
  display: block;
  max-width: 576px;
}

.register__noreg {
  text-align: center;
}

.register__title:not(span) {
  text-wrap: nowrap;
}

.register__title span {
  color: #0176FF;
}

.register__subtitle {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: #61636D;
  margin-bottom: 56px;
}

.register__subtitle span {
  font-weight: 600;
}

.register__button {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #ffffff;
  padding: 16px 32px;
  background: #0176FF;
  border-radius: 72px;
  max-width: 202px;
}

.register__info {
  background: #ffffff;
  box-shadow: 0px 12px 32px 0px rgba(50, 73, 85, 0.1019607843);
  padding: 40px 48px;
  border-radius: 30px;
}

.register__info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 0 1 485px;
}

.register__field-h3 {
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 800;
  line-height: 21.6px;
  color: #262931;
  text-align: center;
}

#login {
  border-radius: 30px;
  border: 1px solid #C4C7CF;
  padding: 16px 8px;
  width: 100%;
  margin-bottom: 24px;
}

#password {
  border-radius: 30px;
  border: 1px solid #C4C7CF;
  padding: 16px 8px;
  width: 100%;
  margin-bottom: 8px;
}

::-moz-placeholder {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #A9ABB6;
}

::placeholder {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #A9ABB6;
}

.airs {
  position: absolute;
  top: 17px;
  right: 20px;
}

.register__password {
  display: block;
  width: 100%;
  position: relative;
}

.register__recovery {
  color: #9FA1AD;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  display: inline-block;
}

.register__enter {
  display: block;
  margin: 0 auto;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #262931;
  padding: 16px 40px;
  border-radius: 72px;
  border: 1px solid #0176FF;
  background: none;
  margin-bottom: 16px;
}

.register__enter > span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #9FA1AD;
}

.register__link {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #0176FF;
}

.test {
  padding: 0 0;
  margin: 15px 15px;
}

.about-project {
  background-image: url("../image/fonelinet.svg");
  background-repeat: repeat-x;
  background-position: bottom;
}

.about-project__wrapper {
  padding: 80px 0 167px 0;
  display: flex;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
}

.about-project__wrapper > img {
  max-width: 405px;
  max-height: 382px;
}

.about-project__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 0 1 487px;
}

.about-project__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #262931;
}

.about-project__subtitle {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: #61636D;
}

.about-project__subtitle span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 25.6px;
  color: #262931;
}

.about-work {
  background-color: #F4F8FA;
}

.about-work__wrapper {
  padding: 144px 0 144px 0;
}

.about-work__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #262931;
  margin-bottom: 64px;
}

.about-work__title span {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #0176FF;
}

.scheme {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 50px;
  justify-content: flex-end;
  max-height: 576px;
  padding: 40px 0 60px 0;
  margin-bottom: 92px;
}

.scheme__title {
  font-family: RF Dewi Extended;
  font-size: 18px;
  font-weight: 800;
  line-height: 21.6px;
  color: #262931;
  margin-bottom: 12px;
}

.scheme__subtitle {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #61636D;
}

.scheme__stage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 160px;
}

.scheme__stage img {
  max-width: 260px;
}

.stage-one {
  max-width: 257px;
}

.stage-three {
  max-width: 205px;
}

.stage-last {
  max-width: 211px;
}

.step-one {
  position: relative;
}

.step-one::after {
  content: url("../image/linean.png");
  position: absolute;
  top: 55%;
  left: 75%;
  max-width: 93px;
}

.step-two {
  position: relative;
}

.step-two::after {
  content: url("../image/strela.png");
  position: absolute;
  max-width: 179px;
  max-height: 111px;
  top: 58%;
  left: 90%;
}

.step-three {
  position: relative;
}

.step-three::after {
  content: url("../image/last line.svg");
  position: absolute;
  max-width: 151px;
  max-height: 87px;
  top: 60%;
  left: 78%;
}

.about-work__button {
  border-radius: 72px;
  background-color: #0176FF;
  color: #ffffff;
  padding: 16px 32px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 auto;
  display: block;
}

.about-cripta {
  background-color: #F4F8FA;
}

.about-cripta__wrapper {
  padding: 0 0 144px 0;
}

.about-cripta__title {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #0176FF;
  margin-bottom: 40px;
  text-align: center;
}

.about-cripta__title span {
  font-family: RF Dewi Extended;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #262931;
}

.about-cripta__subtitle {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #61636D;
  display: block;
  text-align: center;
  max-width: 671px;
  margin: 0 auto;
  padding: 0 0 56px 0;
}

.about-cripta__subtitle span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #262931;
}

.about-cripta__wrapper img {
  display: block;
  margin: 0 auto;
}

body {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  color: #61636D;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 10px;
}/*# sourceMappingURL=style.css.map */