.footer {
    background-color: #ffffff;
}

.footer__wrapper {
    padding: 56px 0 56px 0;
}

.footer__menu {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    flex-wrap: wrap;
    // flex: 0 1 296px;
}

.logo__info {
    display: block;
}

.logo__footer {
    display: inline-block;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #9FA1AD;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    gap: 59px;
}

.footer__navigation {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__navigation>li {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #61636D;
    cursor: pointer;
}

.footer__menu-item:hover {
    color: #262931;
}

.footer__menu-item:active {
    color: #262931;
}

.footer__info>a:not(.authorization) {
    display: block;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #262931;
    display: flex;
    gap: 10px;
}

.footer__info>a:hover {
    color: #000000;
}

.footer__info>a:active {
    color: #000000;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

.footer__document a {
    display: block;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #9FA1AD;
}

.footer__document a:hover {
    color: #262931;
}

.footer__document {
    display: flex;
    gap: 48px;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__copyright {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


@media (max-width: 992px) {
    .authorization-footer {
        display: block;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 576px;
    }

    .footer__document {
        flex-direction: column;
        gap: 16px;
    }

    .logo__footer {
        margin-bottom: 0px;
    }

    .footer__navigation>li {
        font-size: 14px;
        line-height: 16.94px;
    }

    .logo__info {
        font-size: 14px;
        line-height: 16.94px;
    }

    .footer__info>a {}
}

@media (max-width: 352px) {
    .container {
        max-width: 320px;
    }

    .footer__copyright {
        flex-direction: row;
        gap: 24px;
        align-items: center;
    }
}