.quastion {
    background-color: #f4f8fa;
}

.quastion__wrapper {
    padding: 20px 0 120px 0;
}

.quastion__title {
    font-family: RF Dewi Extended;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    color: #262931;
    margin-bottom: 48px;
}

.quastion__title span {
    color: #0176ff;
}

.quastion__describe {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #262931;
    margin-right: 20px;
    padding: 24px 30px 24px 24px;
}

.quastion__item {
    background-color: #ffffff;
    border-radius: 16px;
}

.quastion__list {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 16px;
    width: 100%;
    max-width: 682px;
}

.quastion__line {
    border: solid 1px #dcdde5;
    margin-bottom: 16px;
    padding-left: 12px;
    margin-right: 12px;
    margin-left: 12px;
}

.quastion__subtitle {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: #262931;
    padding: 12px 24px 12px 24px;
}

.answer-list {
    padding-left: 36px;
    padding-right: 24px;
    padding-bottom: 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: #262931;
}

details > summary {
    list-style: none;
    position: relative;
}

summary:before {
    content: url("../image/icon_close.svg");
    margin-right: 24px;
}

details[open] summary:before {
    content: url("../image/detail_open.svg");
}

details[open] .quastion__describe {
    margin-bottom: 5px;
}

summary:before,
details[open] summary:before {
    position: absolute;
    left: 624px;
}

.quastion__info {
    padding: 40px 48px 40px 48px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 12px 32px 0px #3249551a;
    max-height: 494px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.quastion__form {
    display: flex;
    gap: 32px;
}

.quastion__form-title {
    font-family: RF Dewi Extended;
    font-size: 18px;
    font-weight: 800;
    line-height: 21.6px;
    color: #262931;
    margin-bottom: 16px;
    text-align: center;
}

.quastion__form-subtitle {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #61636d;
    margin-bottom: 32px;
    text-align: center;
    text-wrap: pretty;
}

.quastion__record {
    display: flex;
    flex-direction: column;
    gap: 24px;

    & .name {
        display: block;
        border: 1px solid #c4c7cf;
        padding: 16px 20px;
        border-radius: 30px;
        cursor: pointer;

        &::placeholder {
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #a9abb6;
        }
    }
}

.quastion__record {
    & .name:hover {
        border: 1px solid #61636d;
    }
}

.quastion__record {
    & .name:focus {
        border: 1px solid #006dca;
        box-shadow: 0px 0px 0px 3px #008ff833;
    }
}

.quastion__record {
    & .name:invalid {
        border: 1px solid #ee5656;
        box-shadow: 0px 0px 0px 3px #ff7d8933;
    }
}

.tel {
    display: block;
    border: 1px solid #c4c7cf;
    padding: 16px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.tel:hover {
    border: 1px solid #61636d;
}

.tel:focus {
    border: 1px solid #006dca;
    box-shadow: 0px 0px 0px 3px #008ff833;
}

.tel:invalid {
    border: 1px solid #ee5656;
    box-shadow: 0px 0px 0px 3px #ff7d8933;
}

.message-text {
    display: block;
    border: 1px solid #c4c7cf;
    border-radius: 30px;
    padding: 16px 8px 8px 20px;
    resize: none;
}

.message-text:hover {
    border: 1px solid #61636d;
}

.message-text:focus {
    border: 1px solid #006dca;
    box-shadow: 0px 0px 0px 3px #008ff833;
}

.message-text:invalid {
    border: 1px solid #ee5656;
    box-shadow: 0px 0px 0px 3px #ff7d8933;
}

.quastion__button {
    display: block;
    margin: 0 auto;
    border: 1px solid #0176ff;
    border-radius: 72px;
    color: #262931;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background: #ffffff;
    padding: 16px 40px;
    cursor: pointer;
}

.quastion__button:hover {
    background: #0176ff;
    color: #ffffff;
    border: 1px solid #0176ff;
}

.quastion__button:active {
    background: #1471de;
    box-shadow: 0px 0px 10px 0px #1b5396 inset;
}

@media (max-width: 1160px) {
    .container {
        max-width: 1005px;
    }

    summary:before,
    details[open] summary:before {
        left: 610px;
        left: 95%;
    }
}

@media (max-width: 1050px) {
    .container {
        max-width: 992px;
    }

    summary:before,
    details[open] summary:before {
        left: 600px;
        left: 95%;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }

    summary:before,
    details[open] summary:before {
        position: absolute;
        left: 95%;
        padding-left: 5px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 576px;
    }

    .quastion__list {
        min-width: 296px;
    }

    .quastion__form {
        flex-direction: column;
        gap: 20px;
    }

    .quastion__describe {
        padding-right: 20px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 320px;
    }

    .quastion__wrapper {
        padding: 10px 0px 50px 0px;
    }

    .quastion__title {
        font-size: 18px;
        line-height: 21.6px;
        margin-bottom: 32px;
    }

    .quastion__describe {
        font-size: 14px;
        line-height: 19.6px;
        padding: 12px 30px 12px 12px;
    }

    .quastion__subtitle {
        font-size: 14px;
        line-height: 22.4px;
        padding: 12px;
    }

    .answer-list {
        font-size: 14px;
        line-height: 22.4px;
    }

    .quastion__item {
        padding: 12px;
    }

    .quastion__list {
        gap: 8px;
    }

    .quastion__info {
        padding: 18px 12px;
        margin-top: 32px;
    }

    .quastion__form-title {
        font-size: 16px;
        line-height: 19.2px;
        margin-bottom: 12px;
    }

    .quastion__form-subtitle {
        font-size: 14px;
        line-height: 18.2px;
        margin-bottom: 18px;
    }

    .quastion__record {
        gap: 12px;

        & .name {
            padding: 12px 20px;

            &::placeholder {
                font-size: 14px;
            }
        }
    }

    .tel {
        padding: 12px 20px;
    }

    .tel::placeholder {
        font-size: 14px;
        line-height: 24px;
    }

    .message-text::placeholder {
        font-size: 14px;
        line-height: 24px;
    }

    .quastion__button {
        width: 100%;
        font-size: 14px;
        padding: 12px 20px;
    }
}
