.register {
    background-color: #f4f8fa;
}

.register__wrapper {
    padding-top: 115px;
    padding-bottom: 144px;
}

.register {
    background-image: url("../image/fone.svg");
    background-repeat: no-repeat;
    background-size: 1191px 1017px;
    background-position: 70% 0;
}

.register__partner {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.register__description {
    display: flex;
    flex-direction: column;
    flex: 0 1 576px;
}

.register__title {
    font-family: RF Dewi Extended;
    font-size: 56px;
    font-weight: 800;
    line-height: 67.2px;
    color: #262931;
    margin-bottom: 56px;
    display: block;
}

.register__noreg {
    text-align: center;
}

.register__title:not(span) {
    text-wrap: wrap;
}

.register__title span {
    color: #0176ff;
}

.register__subtitle {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: #61636d;
    margin-bottom: 56px;
}

.register__subtitle span {
    font-weight: 600;
}

.register__button {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #ffffff;
    padding: 16px 32px;
    background: #0176ff;
    border-radius: 72px;
    width: 202px;
    cursor: pointer;
}

.register__button:hover {
    background-color: #1471de;
    box-shadow: 0px 4px 20px 0px #106dd980;
}

.register__button:active {
    box-shadow: 0px 0px 10px 0px #1b5396 inset;
}

.register__info {
    background: #ffffff;
    box-shadow: 0px 12px 32px 0px #3249551a;
    padding: 40px 48px;
    border-radius: 30px;
}

.register__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 0 1 485px;
}

.register__field-h3 {
    font-family: RF Dewi Extended;
    font-size: 18px;
    font-weight: 800;
    line-height: 21.6px;
    color: #262931;
    text-align: center;
}

#login {
    border-radius: 30px;
    border: 1px solid #c4c7cf;
    padding: 16px 8px;
    width: 100%;
    margin-bottom: 24px;
    cursor: pointer;
}

#login:hover {
    border: 1px solid #61636d;
}

#login:focus {
    border: 1px solid #006dca;
    box-shadow: 0px 0px 0px 3px #008ff833;
}

#login:invalid {
    border: 1px solid #ee5656;
    box-shadow: 0px 0px 0px 3px #ff7d8933;
}

#password {
    border-radius: 30px;
    border: 1px solid #c4c7cf;
    padding: 16px 8px;
    width: 100%;
    margin-bottom: 8px;
    cursor: pointer;
}

#password:hover {
    border: 1px solid #61636d;
}

#password:focus {
    border: 1px solid #006dca;
    box-shadow: 0px 0px 0px 3px #008ff833;
}

#password:invalid {
    border: 1px solid #ee5656;
    box-shadow: 0px 0px 0px 3px #ff7d8933;
}

::placeholder {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #a9abb6;
}

.airs {
    position: absolute;
    top: 17px;
    right: 20px;
}

.register__password {
    display: block;
    width: 100%;
    position: relative;
}

.register__recovery {
    color: #9fa1ad;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    display: inline-block;
    cursor: pointer;
}

.register__recovery:active {
    color: #262931;
}

.register__recovery:hover {
    color: #262931;
}

.register__enter {
    display: block;
    margin: 0 auto;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #262931;
    padding: 16px 40px;
    border-radius: 72px;
    border: 1px solid #0176ff;
    background: none;
    margin-bottom: 16px;
}

.register__enter:hover {
    background-color: #0176ff;
    color: #ffffff;
}

.register__enter:active {
    background-color: #1471de;
    box-shadow: 0px 0px 10px 0px #1b5396 inset;
}

.register__enter > span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #9fa1ad;
}

.register__link {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #0176ff;
    cursor: pointer;
}

.register__link:hover {
    color: #175297;
}

.register__link:active {
    color: #175297;
}

.test {
    padding: 0 0;
    margin: 15px 15px;
}

@media (max-width: 992px) {
    .container {
        max-width: 792px;
    }

    .register__partner {
        flex-direction: column;
        gap: 40px;
        align-items: center;
        width: 100%;
    }

    .register__description {
        flex: 0 1 296px;
        align-items: center;
    }

    .register__info {
        width: 70%;
    }

    .register__subtitle {
        width: 100%;
        text-align: left;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 576px;
    }

    .register__title {
        font-size: 24px;
        font-weight: 800;
        line-height: 28.8px;
        text-align: left;
        align-self: start;
        margin-bottom: 24px;
    }

    .register__subtitle {
        width: 100%;
        align-self: start;
        font-size: 14px;
        line-height: 22.4px;
        margin-bottom: 24px;
    }

    .register__wrapper {
        padding-top: 56px;
        padding-bottom: 40px;
    }

    .register__button {
        width: 296px;
        font-size: 14px;
        padding: 12px 87px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 320px;
    }

    .register__info {
        width: 100%;
        gap: 18px;
        padding: 18px 12px;
        flex: 0 1 241px;
    }

    .register__field-h3 {
        font-size: 16px;
        line-height: 19.2px;
    }

    #login {
        padding: 12px 20px;
        margin-bottom: 12px;
    }

    #password {
        padding: 12px 20px;
    }

    ::placeholder {
        font-size: 14px;
    }

    .airs {
        top: 13px;
    }

    .register__recovery {
        font-size: 14px;
        line-height: 16.94px;
        padding-left: 8px;
    }

    .register__enter {
        font-size: 16px;
        padding: 12px 115px;
        width: 100%;
    }

    .register__noreg {
        font-size: 14px;
        line-height: 16.94px;
    }
}
