.register {
    background-color: #F4F8FA;
}

.register__wrapper {
    padding-top: 115px;
    padding-bottom: 144px;

}

.register {
    background-image: url('../image/fone.svg');
    background-repeat: no-repeat;
    background-size: 1191px 1017px;
    background-position: 70% 0;
}


.register__partner {
    display: flex;
    gap: 100px;
    justify-content: space-between;
}

.register__description {
    display: flex;
    flex-direction: column;
    flex: 0 1 576px;
}

.register__title {
    font-family: RF Dewi Extended;
    font-size: 56px;
    font-weight: 800;
    line-height: 67.2px;
    color: #262931;
    margin-bottom: 56px;
    display: block;
    max-width: 576px;
    word-break: break-all;
}

.register__noreg {
    text-align: center;
}

.register__title:not(span) {
    text-wrap: nowrap;
}


.register__title span {
    color: #0176FF;
}

.register__subtitle {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: #61636D;
    margin-bottom: 56px;
}

.register__subtitle span {
    font-weight: 600;
}

.register__button {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #ffffff;
    padding: 16px 32px;
    background: #0176FF;
    border-radius: 72px;
    max-width: 202px;
    cursor: pointer;
}

.register__button:hover {
    background-color: #1471DE;
    box-shadow: 0px 4px 20px 0px #106DD980;
}

.register__button:active {
    box-shadow: 0px 0px 10px 0px #1B5396 inset;
}

.register__info {
    background: #ffffff;
    box-shadow: 0px 12px 32px 0px #3249551A;
    padding: 40px 48px;
    border-radius: 30px;
}

.register__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 0 1 485px;
}


.register__field-h3 {
    font-family: RF Dewi Extended;
    font-size: 18px;
    font-weight: 800;
    line-height: 21.6px;
    color: #262931;
    text-align: center;
}

#login {
    border-radius: 30px;
    border: 1px solid #C4C7CF;
    padding: 16px 8px;
    width: 100%;
    margin-bottom: 24px;
    cursor: pointer;
}

#login:hover {
    border: 1px solid #61636D;
}

#login:focus {
    border: 1px solid #006DCA;
    box-shadow: 0px 0px 0px 3px #008FF833;
}

#login:invalid {
    border: 1px solid #EE5656;
    box-shadow: 0px 0px 0px 3px #FF7D8933;
}


#password {
    border-radius: 30px;
    border: 1px solid #C4C7CF;
    padding: 16px 8px;
    width: 100%;
    margin-bottom: 8px;
    cursor: pointer;
}

#password:hover {
    border: 1px solid #61636D;
}

#password:focus {
    border: 1px solid #006DCA;
    box-shadow: 0px 0px 0px 3px #008FF833;
}

#password:invalid {
    border: 1px solid #EE5656;
    box-shadow: 0px 0px 0px 3px #FF7D8933;
}

::placeholder {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #A9ABB6;
}

.airs {
    position: absolute;
    top: 17px;
    right: 20px;
}

.register__password {
    display: block;
    width: 100%;
    position: relative;
}

.register__recovery {
    color: #9FA1AD;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    display: inline-block;
    cursor: pointer;
}

.register__recovery:active {
    color: #262931;
}

.register__recovery:hover {
    color: #262931;
}

.register__enter {
    display: block;
    margin: 0 auto;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #262931;
    padding: 16px 40px;
    border-radius: 72px;
    border: 1px solid #0176FF;
    background: none;
    margin-bottom: 16px;
}

.register__enter:hover {
    background-color: #0176FF;
    color: #ffffff;
}

.register__enter:active {
    background-color: #1471DE;
    box-shadow: 0px 0px 10px 0px #1B5396 inset;
}

.register__enter > span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #9FA1AD;
}

.register__link {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: #0176FF;
    cursor: pointer;
}

.register__link:hover {
    color: #175297;
}

.register__link:active {
    color: #175297;
}

.test {
    padding: 0 0;
    margin: 15px 15px;
}


@media (max-width: 1100px) {

    .container {
            max-width: 1100px;
        }

    .register__partner {
        flex-direction: column;
        gap: 40px;
        align-items: center;
        width: 100%;
    }

    .register__description {
        flex: 0 1 400px;
        align-items: center;
    }

    .register__info {
        width: 70%;
    }

    .register__subtitle {
        max-width: 80%;
        text-align: center;
    }

    .register__button {
        max-width: 50%;
    }
}