.start-earn {
    background-color: #0176FF;
    background-image: url('../image/line fone blue.svg');
    background-repeat: no-repeat;
    background-size: 877px 748px;
    background-position: 1530px -142px;
}

.start-earn__wrapper {
    padding: 48px 0 48px 0;
}

.start-earn__title {
    font-family: RF Dewi Extended;
    font-size: 40px;
    font-weight: 800;
    line-height: 52px;
    color: #ffffff;
    margin-bottom: 40px;
    text-wrap: balance;
}

.start-earn__title span {
    color: #FBDC7C;
}

.start-earn__subtitle {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: #ffffff;
    text-wrap: balance;
    margin-bottom: 40px;
}

.start-earn__subtitle span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
}

.start-earn__button {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #262931;
    padding: 16px 32px;
    border-radius: 72px;
    margin-right: 24px;
    cursor: pointer;
}

.start-earn__button:hover {
    box-shadow: 0px 8px 16px 0px #3249554D;
}

.start-earn__button:active {
    box-shadow: 0px 0px 10px 0px #1B539699 inset;
}

.start-earn__wrapper a {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #ffffff;
}

.start-earn__wrapper a:hover {
    color: #dce2e9;
}







