.start-earn {
    background-color: #0176ff;
    background-image: url("../image/line fone blue.svg");
    background-repeat: no-repeat;
    background-size: 877px 748px;
    background-position: 1530px -142px;
}

.start-earn__wrapper {
    padding: 48px 0 48px 0;
}

.start-earn__title {
    font-family: RF Dewi Extended;
    font-size: 40px;
    font-weight: 800;
    line-height: 52px;
    color: #ffffff;
    margin-bottom: 40px;
    text-wrap: balance;
}

.start-earn__title span {
    color: #fbdc7c;
}

.start-earn__subtitle {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    color: #ffffff;
    text-wrap: balance;
    margin-bottom: 40px;
}

.start-earn__subtitle span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.6px;
}

.start-earn__button {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #262931;
    padding: 16px 32px;
    border-radius: 72px;
    margin-right: 24px;
    cursor: pointer;
}

.start-earn__button:hover {
    box-shadow: 0px 8px 16px 0px #3249554d;
}

.start-earn__button:active {
    box-shadow: 0px 0px 10px 0px #1b539699 inset;
}

.start-earn__wrapper a {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #ffffff;
}

.start-earn__wrapper a:hover {
    color: #dce2e9;
}

@media (max-width: 576px) {
    .container {
        max-width: 320px;
    }

    .start-earn__wrapper {
        padding: 24px 0px 20px 0px;
    }

    .start-earn__title,
    .start-earn__title span {
        font-size: 14px;
        line-height: 23.4px;
        margin-bottom: 24px;
        width: 270px;
        text-wrap: balance;
    }

    .start-earn__subtitle {
        font-size: 14px;
        line-height: 22.4px;
        margin-bottom: 24px;
    }

    .start-earn__subtitle span {
        font-size: 14px;
        line-height: 22.4px;
        margin-bottom: 24px;
    }

    .start-earn__button {
        font-size: 14px;
        padding: 12px 24px;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 16px;
    }

    .start-earn__wrapper a {
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        display: block;
    }
}
