.study {
    background-color: #f4f8fa;
}

.study__wrapper {
    padding: 21px 0 124px 0;
}

.study__wrapper video {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.study__title {
    font-family: RF Dewi Extended;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    color: #262931;
    text-align: center;
    margin-bottom: 48px;
}

.study__title span {
    color: #0176ff;
}

.study__video {
    margin: 0 auto;
    display: block;
}

@media (max-width: 576px) {
    .container {
        max-width: 320px;
    }

    .study__wrapper {
        padding: 15px 12px 64px 12px;
    }

    .study__title {
        font-size: 18px;
        line-height: 21.6px;
        text-align: left;
        margin-bottom: 32px;
    }

        .study__title span {
            font-size: 18px;
            line-height: 21.6px;
            text-align: left;
        }


}
