.study {
    background-color: #F4F8FA;
}

.study__wrapper {
    padding: 21px 0 124px 0;
}

.study__wrapper video {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.study__title {
    font-family: RF Dewi Extended;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    color: #262931;
    text-align: center;
    margin-bottom: 48px;
}

.study__title span {
    color: #0176FF;
}

.study__video {
    margin: 0 auto;
    display: block;
}