.support {
    background-color: #F4F8FA;
    background-image: url('../image/dropped.png');
    background-repeat: no-repeat;
    background-size: 725px 717px;
    background-position: 50% 70%;
}

.support__wrapper {
    padding: 166px 21px;
}

.edge__list {
    display: flex;
    gap: 20px;
}

.support__title {
    font-family: RF Dewi Extended;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    color: #000000;
    text-align: center;
    margin-bottom: 56px;

}

.support__title span {
    color: #0176FF;
}

.support__img {
    width: 100%;
}

.support__advantages {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-around;
    align-items: flex-end;
}

.support__benefit {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #61636D;
    text-align: right;
}

.support__benefit span {
    font-weight: 600;
    color: #262931;
}

.privilege-item {
    text-align: left;
    text-wrap: pretty;
}

.item__four {
    text-wrap: balance;
}

.item__five {
    text-wrap: balance;
    position: relative;
    left: 25px;
    max-width: 296px;
}


.benefit-second {
    position: relative;
    right: 25px;
    text-wrap: pretty;
    max-width: 237px;
}

@media (max-width:992px) {
    .container {
        max-width: 772px;
    }

    .edge__list {
        flex-direction: column;
        gap: 5px;
        text-align: left;
    }

    .support__img {
        max-width: 321px;
        margin: 0 auto;
        order: 2;
    }

    .support__advantages {
        align-items: flex-start;
    }

    .support__wrapper {
        padding: 64px 12px 32px 12px;
    }

    .benefit-second {
        right: 0px;
        min-width: 296px;
        text-align: left;
    }

    .support__benefit {
        font-size: 14px;
        width: 100%;
        text-align: left;
    }

    .item__five {
        left: 0px;
        min-width: 100%;
    }

    .support__benefit::before {
        content: url('');
        display: inline-block;
        margin-right: 8px;
        width: 5px;
        height: 5px;
        background-color: #0176FF;
        border-radius: 50%;
        position: relative;
        top: 8px;
    }

    .support {
        background-image: url('../image/dropped.png');
        background-repeat: no-repeat;
        background-size: 321px 317px;
        background-position: 55% 85%;
    }

}