@use "./header";
@use "./register";
@use "./about-project.scss";
@use "./about-work";
@use "./about-cripta";
@use "./start-earn";
@use "./support";
@use "./study";
@use "./quastions";
@use "./footer";

body {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    color: #61636D;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 12px;
}